* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
        'header header'
        'sidebar gallery'
        'footer footer';
    background-image: linear-gradient(to bottom, black, blue);
    color: aliceblue;
    position: relative;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    border-bottom: 2px ridge blue;
    color: aliceblue;
    margin-bottom: 20px;
}
header img {
    border-radius: 50vh;
    padding: 1em;
    max-width: 200px;
}

#nav_list {
    grid-area: sidebar;
}
#nav_list ul {
    position: sticky;
    top: 20px;
}
#nav_list li {
    margin-bottom: 20px;
}
#nav_list a {
    display: block;
    background-color: aliceblue;
    text-decoration: none;
    color: blue;
    padding: 8px 20px;
    border-radius: 8px;
    border: 2px solid blue;
    transition: all ease-in-out 200ms;
}
#nav_list a:hover {
    background-color: blue;
    text-decoration: none;
    color: aliceblue;
    padding: 8px 20px;
    border-radius: 8px;
    border: 2px solid aliceblue;
}

section {
    max-width: 75%;
    margin: 0 auto;
}

main {
    grid-area: gallery;
}

footer {
    grid-area: footer;
}

/* video settings */
.videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    border: 6px ridge #808080;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.caption {
    margin-top: 10px;
    border-left: 25px solid cyan;
    padding-left: 10px;
    max-width: 75%;
}

article h4 {
    font-size: 200%;

}

@media (max-width: 767px) {
    #nav_list {
        display: none;
    }
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'gallery'
        'footer';
    }
    section {
        max-width: 100%;
    }
}